<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: header}"></div>

<body>
<h1>Cart</h1>

<p>
    <a href="/dashboard/dashboard.html">Back to Dashboard</a>
</p>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Open</th>
    </tr>
    </thead>

    <a th:href ="@{/cart(voucher=true)}" >Apply Voucher</a>

    <span th:text="${DiscountVoucher}"></span>

    <a th:href="@{/cart(currentCurrency=EUR)}">Change it to EUR</a>

    <a th:href="@{/cart(currentCurrency=USD)}">Change it to USD</a>

    <tbody>
    <tr  th:each="p:${shoppingcart}">
        <td th:text="${p.key.id}"></td>
        <td th:text="${p.key.name}"></td>
        <td th:text="${Currentcurrency}+' '+${p.key.price}"></td>
        <td th:text="${p.value}"></td>
<!--        <td> <a th:href="@{/productdetail/{id}(id=${p.key.id})}">View</a></td>-->
        <td> <a th:href="@{/productfacade/{id}(id=${p.key.id})}">View</a></td>

    </tr>

    </tbody>

</table>

<p> Total price : <td th:text="${totalValue}"></td></p>
<p th:if="${voucher}" th:text="'Discounted price :'+ ${discountedPrice}"> </p>
<p th:if="${voucher}" th:text="'Saving done by you :'+ ${Saving}"> </p>
<p th:if ="${voucher} and ${shoppingcart}" th:text="'A'+${DiscountVoucher}+'% voucher has been applied.'"></p>

<a th:if="${voucher}" th:href ="@{/cart(voucher=false)}" >Cancel Voucher</a>



<p th:if="${#lists.isEmpty(shoppingcart)}">No Products Available</p>
</body>
</html>